.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.TilesContainer {
  display: flex;
}

.Tile {
  margin: 10px;
  max-width: 350px;
}

.TileMedia img {
    height: 200px; 
    width: auto; 
}

.HtmlEditor {
  min-width: 300px;
  min-height: 400px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Form {
  margin: 10px;
}

.Form Input {
  margin: 10px;
  min-width: 300px;
}

.Form Button {
  margin: 10px 10px 10px 0px;
}

.Paper {
  margin: 10px;
}

.designer-left{
  float: left;
  min-width: 360px;
  min-height: 500px;
}

.designer-right{
  min-height: 500px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: blue;
}

.yellow {
  color: yellow;
}

.violet {
  color: violet;
}

.megadraft {
  border: 2px solid black;
  min-height: 400px;
  width: 320px;
}

.hidden {
  display: none;
}

.contentSchedulerForm {

}

.searchContentPane {
}

.contentPreviewList {
  list-style: none;
}

.contentSearchContainer{
  padding: 0px 40px 0px 40px;
}

.contentPreviewBoxContainer {
  padding-right: 40px;
}

.contentPreviewBox {
  margin: 5px;
  padding: 5px;
}

.contentPreviewBoxActions{
  float:right;
}

.formBottomBar{
  padding-left: 5px;
  padding-bottom: 10px;
}

.formBottomBar button{
  margin: 5px;
}

.selected{
  border-radius: 5px;
  border: solid 2px green;
  color: green;
  cursor: pointer;
}

.schedulerTable td{
  padding: 5px;
  border: 2px solid white;
  cursor: pointer;
}

.homeBody{
  padding-left: 15px;
  padding-right: 15px;
}

.schedulerTable {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.schedulerTableContainer {
  overflow-x: scroll;
  max-width: 500px;
}

.unbooked {
  background-color: white;
}

.unbooked:hover{
  border: 2px solid green;
  background-color: green;
}

.booked {
  background-color: green;
  border: 2px solid green;
}

.booked:hover {
  background-color: white;
  border: 2px solid white;
}

.clashed {
  background-color: orange;
  border: 2px solid orange;
}

.clashed:hover{
  background-color: green;
  border: 2px solid orange;
}

.clashedBooking{
  background-color: green;
  border: 2px solid orange;
}

.clashedBooking:hover {
  background-color: orange;
  border: 2px solid orange;
}

.formNavigation{
  padding: 5px;
}

.formNavigation button{
  margin: 5px;
  float: right;
}

.page {
  padding: 10px;
}

.form{
  padding: 0px 40px 0px 40px;
}

form button {
  padding-right: 5px;
}

.navigationBar{

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

